.bi-page-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    text-align: left;
    background: url("../../images/Uni.png");
    background-size: cover;
    background-color: white;
    background-attachment: fixed;
}

.ops-box-container {
    background-color: rgb(250, 250, 250);
    opacity: 80%;
    margin: 30px;
    height: auto;
    width: auto;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
    display: inline-table;
}

.left-text-container {
    margin: 15px 30px;
    align-items: center;
    float: left;
    width: 45%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0px;
    table-layout: fixed;
}

table th {
    background-color: rgb(31,74,126);
    color: white;
}

table td, table th {
    border: 1px solid rgb(90,90,90);
    padding: 7px;
}

tbody tr:hover {
    background-color: rgb(190,190,190);
}

#loyaltyButton {
    height: 50px;
    width: 150px;
    font-family: 'Exo', sans-serif;
    background-color: rgb(225, 225, 225);
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}

#definition {
    font-style: italic;
    display: block;
}