.page-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    text-align: left;
    background-image: url("../images/Universal.png");
    background-color: white;
    background-size: cover;
}

.welcome {
    display: inline;
}

.header  {
    margin: 30px 60px;
}

.small-logo {
    position: relative;
    top: -75px;
    max-width: 80px;
    max-height: 80px;
    float: right;
}

