body, html {
    font-family: 'Exo', sans-serif;
    overflow: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #74EBD5;
    background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE6 100%);
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    height: auto;
    width: auto;
    max-width: 800px;
    max-height: 800px;
    margin: -5px;
    align-items: center;
}

img {
    height: auto;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    margin: 20px 20px;
}

h1 {
    margin: 0px;
}

.message {
    margin: 20px;
}

body { 
    text-align: center;
}

button {
    display: inline-block;
    background-color: white;
    text-align: center;
    font-size: 15px;
    border: 1px solid black;

}
