.staff-page-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    text-align: left;
    background: url("../images/WaltOpaque.png");
    background-size: cover;
    background-color: white;
    background-attachment: fixed;
}

.welcome {
    display: inline;
}

.header  {
    margin: 30px 60px;
}

.small-logo {
    position: relative;
    top: -75px;
    max-width: 80px;
    max-height: 80px;
    float: right;
}

p {
    display: inline;
}

.bi {
    margin: 30px 60px;
    height: auto;
    width: auto;
    align-items: center;
}