.modal {
    background: rgba(0, 0, 0, 0.5); 
    opacity: 1;
} 
.modal-backdrop {
    display: none;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    vertical-align:middle;
    margin-left:20px
}

label {
    display:inline-block;
    float: left;
    padding-top: 5px;
    width: 140px;
    text-align: right;
}