.ops-box-container {
    background-color: rgb(250, 250, 250);
    opacity: 80%;
    margin: 30px;
    height: auto;
    width: auto;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
    display: inline-table;
}

.left-text-container {
    margin: 15px 30px;
    align-items: center;
    float: left;
    width: 45%;
}

.right-text-container {
    margin: 15px 30px;
    align-items: center;
    float: right;
    width: 45%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0px;
    table-layout: fixed;
}

table th {
    background-color: rgb(31,74,126);
    color: white;
}

table td, table th {
    border: 1px solid rgb(90,90,90);
    padding: 7px;
}

tbody tr:hover {
    background-color: rgb(190,190,190);
}

#restaurantparkid, #restaurantprice {
    margin-right: 10px;
}